{% extends "Base2.html" %}
{% load  static %}

{% block title %}Estudiantes | Portal CNE{% endblock title %}

{% block extracontent %}

<div class="container-fluid ">
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2><i class="fa-solid fa-graduation-cap"></i> Asignaturas de {{estudiante.nombre}} {{estudiante.apellidos}}</h1></span>
      </div>
      
  </div>
  
  <div class="card shadow">

    <div class="card-body">
        <div class="container-fluid" style="">
          <div  class="row">
            <div class="conte">
              <div class ="conteTabla">

                {% if student %}
                <table id="table_general"  class="hover" style="width:100%; ">
                  <thead >
                    <th>Código</th>
                    <th>Materia</th>
                    <th>Estado</th>
                    <th>Promedio</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    {% for student in student %}
                      <tr>
                        <td >{{student.codigo}}</td>
                        <td>{{student.nombre}}</td> 
                        {% if student.estado %}
                        <td><span ><i class="fa-solid fa-hourglass-half iconos"></i> &nbsp; En curso</span></td>
                        <td>{{student.promedio}}</td>
                        {% else %}
                        <td><span class="estado"><i class="fa-regular fa-circle-check"></i>&nbsp; Cerrada</span></td>
                        <td>{{student.promedio}}</td>
                        {% endif %}

                        {% if student.tiene == "si" %}
                        <td><a href="{% url 'student_app:student-notes-detail' student.pkmateria estudiante.pk  %}" title="Consultar" ><i class="fa-solid fa-magnifying-glass iconos" ></i></a></td>
                        {% else %}
                        <td><a href="{% url 'student_app:student-notes-detail' student.pkmateria estudiante.pk %}" title="Consultar" ><i class="fa-solid fa-magnifying-glass iconos" ></i></a>
                        <a onclick="actulizar_eliminar('{% url 'student_app:delete-student-finally' student.pk %}', 'eliminar')" title="Eliminar"><i   class="fa-regular fa-trash-can iconos"></i></a>
                        </td>
                        {% endif %}

                    </tr>
                      
                    {% endfor %}
                    
                  </tbody>
                </table> 
              {% else %}
              <table id="table_general"  class="hover" style="width:100%; ">
                <thead >
                    <th>Código</th>
                    <th>Materia</th>
                    <th>Estado</th>
                    <th>Promedio</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                  <tr>
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                  </tr>
                </tbody>
              </table>   
              {% endif %}
                
              </div>
            </div>
          </div>
          </div>
        </div>
        
      </div>
    </div>


  </div>
</div>



{% endblock extracontent %}

