{% extends "Base2.html" %}
{% load  static %}

{% block title %}Estudiantes | Portal CNE{% endblock title %}

{% block extracontent %}

<div class="container-fluid ">
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2><i class="ri-user-2-fill"></i> Asignaturas de {{estudiante.nombre}} {{estudiante.apellidos}} </h2></span>
      </div>
      
  </div>
  <div class="datos ">
    
    <div class="card information shadow" style="">
        <div class="container-fluid" style="">
          <div class="" style="">
            <div style="display: flex"  >
            
              <strong><p  class="card-title"><i class="ri-barcode-box-line"></i>&nbsp; Código del estudiante:</p></strong>
              <p class="card-text">&nbsp; {{estudiante.codigo}}</p>
            
            </div>
            <div style="display: flex" >
            
              <strong><p  class="card-title"><i class="ri-presentation-line"></i>&nbsp; Programa:</strong>
              <p class="card-text">&nbsp; {{estudiante.carrera}}</p>

            </div>
            <div style="display: flex" >
            
              <strong><p  class="card-title"><i class="ri-slideshow-line"></i>&nbsp; Promedio:</strong>
              <p class="card-text">&nbsp; {{promedio}}</p>
            
            </div>
            
          </div>
        </div>
        
    </div>
  </div>

  
  <div class="card shadow">
    <div class="card-header">
      
        <div class=" ">
          
          <div class="progreso-content"> <strong >Cumplimiento académico:</strong></div>
          <div class="progress" >
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{pasadas}}" aria-valuemin="0" aria-valuemax="100" style="width: {{pasadas}}%">
              {{pasadas}} %
            </div>
          </div>
          
        </div>
      </div>

    <div class="card-body">
        <div class="container-fluid" style="">
          <div  class="row">
            <div class="conte">
              <div class ="conteTabla">

                {% if student %}
                <table id="table_general"  class="hover" style="width:100%; ">
                  <thead >
                    <th>Código</th>
                    <th>Asignatura</th>
                    <th>Periodo</th>
                    <th>Estado</th>
                    <th>Promedio</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    {% for student in student %}
                      <tr>
                        <td >{{student.codigo}}</td>
                        <td>{{student.nombre}}</td> 
                        <td>{{student.periodo}}</td> 
                        {% if student.estado %}
                        <td><span ><i class="ri-indeterminate-circle-line iconos"></i> &nbsp; En curso</span></td>
                        <td>{{student.promedio}}</td>
                        {% else %}
                        <td><span class="estado"><i class="ri-checkbox-circle-fill"></i>&nbsp; Cerrada</span></td>
                        <td>{{student.promedio}}</td>
                        {% endif %}

                        {% if student.tiene == "si" %}
                        <td><a class="buscar-iconos" href="{% url 'student_app:student-notes-detail' student.pkmateria estudiante.slug  %}" title="Consultar" ><i class="ri-search-line iconos"></i></a></td>
                        {% else %}
                        <td><a class="buscar-iconos" href="{% url 'student_app:student-notes-detail' student.pkmateria estudiante.slug %}" title="Consultar" ><i class="ri-search-line iconos"></i></a>
                        <a  onclick="abrir_modal_edicion('{% url 'student_app:student-notes-delete' student.pkmateria estudiante.slug %}')" title="Eliminar"><i class="ri-delete-bin-fill iconos"></i></a>
                        </td>
                        {% endif %}

                    </tr>
                      
                    {% endfor %}
                    
                  </tbody>
                </table> 
              {% else %}
              <table id="table_general"  class="hover" style="width:100%; ">
                <thead >
                    <th>Código</th>
                    <th>Materia</th>
                    <th>Periodo</th>
                    <th>Estado</th>
                    <th>Promedio</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                  <tr>
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                    <td > - </td >
                  </tr>
                </tbody>
              </table>   
              {% endif %}
                
              </div>
            </div>
          </div>
          </div>
        </div>
        
      </div>
    </div>


  </div>
</div>


<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

{% endblock extracontent %}

{% block js %}
<script>
  var $=jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $('#edicion').load(url, function(){
        $(this).modal('show');
    });
  }
  function actulizar_eliminar(url, accion) {

    if (accion == "habilitar") {
      $("#edicion").load(url, function () {
        $(this).modal("show");
        document.getElementById("tittle").innerHTML  = "Desea habilitar a:";
        $('#accion').val(accion);
    
      });
    } else if (accion == "eliminar"){
      $("#edicion").load(url, function () {
        $(this).modal("show");
      });
    }else {
      $("#edicion").load(url, function () {
        $(this).modal("show");
        document.getElementById("tittle").innerHTML  = "Desea inhabilitar a:";
        $('#accion').val(accion);

    
      });
        
  
    }
  }

</script>
{% endblock js %}