{% load static %}


{% if user.is_authenticated %}
<nav class="navbar justify-content-end">
  <div class="dropdown show">
    <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Hola {{request.user.nombres}}
    </a>
  
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      
      <a  class="dropdown-item" href="{% url 'user_app:profile'%}">
        <i class="ri-user-3-line icon mr-2 text-gray-400 icon"></i>
        <span class="text nav-text">Perfil</span> 
      </a>
      {% if request.user.tipe.rol != "Estudiante" %}
      <a  class="dropdown-item" href="#">
        <i class="ri-wallet-line mr-2 text-gray-400 icon"></i>
        <span class="text nav-text">Nómina</span> 
      </a>
      {% endif %}
      
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'homepage_app:logout' %}">
        <i class="ri-logout-box-r-line mr-2 text-gray-400 icon"></i>
        <span class="text nav-text">Salir</span> 
      </a>
    </div>
  </div>
</nav>

{% else %}
<div class="body-login">

  <div class="container-fluid center-block " style="">
    <div class="row tarjetasConfig">
  
        <div class="col-lg" >
    
            <div class="card shadow mb-4" style=" height: 100%">
            <div class="card-header">
                <div class="row encabezado">
                    <div class="titulo ">
                      <span class=""><h2 ><i class="fa-solid fa-right-to-bracket"></i> CNE Login </h2></span>
                    </div>
                    
                </div>
            </div>
             <div class="card-body">
              <a href="{% url 'homepage_app:login'%}" class="btn btn-sm">iniciar sesión</a>
              
             </div>
                
            </div>
            
    
        </div>
        
    
    </div>
  
  </div>
  
  
</div>
{% endif %}


