{% load static %}


{% if request.user.tipe.rol == "Administrador"%}
<nav class="sidebar">
    <header>

        <div class="image-text">
            <span class="image">
                <img src="{% static 'img/home/lgsin.png' %}" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">
                    CNE
                </span>
                <span class="profession">
                    Sistema educativo
                </span>
            </div>


        </div>
    </header>
    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="" title="Dashboard">
                    <a href="#">
                        <i class="ri-dashboard-line icon"></i>

                        <span class="text nav-text">Dashboard</span>

                    </a>
                </li>
                <li class="" title="Docentes">
                    <a href="#">
                        <i class="ri-presentation-line icon"></i>

                        <span class="text nav-text">Docentes</span>
                    </a>
                </li>
                <li class="" title="Estudiantes">
                    <a href="{% url 'student_app:home-student' %}">
                        <i class="ri-user-2-fill icon"></i>

                        <span class="text nav-text">Estudiantes</span>
                    </a>
                </li>
                <li class="" title="Financiero">
                    <a href="#">
                        <i class="ri-money-dollar-box-line icon"></i>

                        <span class="text nav-text">Financiero</span>
                    </a>
                </li>
                <li class="" title="Usuarios">
                    <a href="{% url 'user_app:list-user' %}">
                        <i class="ri-user-3-line icon"></i>

                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>
                <li class="" title="Parámetros">
                    <a href="{% url 'settings_app:config' %}">
                        <i class="ri-settings-3-line icon"></i>

                        <span class="text nav-text">Parámetros</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>

</nav>
{% elif request.user.tipe.rol == "Gestor" %}
<nav class="sidebar">
    <header>

        <div class="image-text">
            <span class="image">
                <img src="{% static 'img/home/lgsin.png' %}" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">
                    CNE
                </span>
                <span class="profession">
                    Sistema educativo
                </span>
            </div>


        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="" title="Dashboard">
                    <a href="{% url 'academico_app:dashboard' %}">
                        <i class="ri-dashboard-line icon"></i>

                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="" title="Docentes">
                    <a href="{% url 'academico_app:list-teacher' %}">
                        <i class="ri-presentation-line icon"></i>

                        <span class="text nav-text">Docentes</span>
                    </a>
                </li>
                <li class="" title="Estudiantes">
                    <a href="{% url 'academico_app:list-student' %}">
                        <i class="ri-user-2-fill icon"></i>

                        <span class="text nav-text">Estudiantes</span>
                    </a>
                </li>
                <li class="" title="Financiero">
                    <a href="{% url 'finance_app:finance-list-invoice' %}">
                        <i class="ri-money-dollar-box-line icon"></i>

                        <span class="text nav-text">Financiero</span>
                    </a>
                </li>
                <li class="" title="Usuarios">
                    <a href="{% url 'academico_app:list-user' %}">
                        <i class="ri-user-3-line icon"></i>

                        <span class="text nav-text">Usuarios</span>
                    </a>
                </li>
                <li class="" title="Parámetros">
                    <a href="{% url 'academico_app:config' %}">
                        <i class="ri-settings-3-line icon"></i>

                        <span class="text nav-text">Parámetros</span>
                    </a>
                </li>
            </ul>
        </div>


    </div>

</nav>
{% elif request.user.tipe.rol == "Estudiante" %}

<nav class="sidebar">
    <header>

        <div class="image-text">
            <span class="image">
                <img src="{% static 'img/home/lgsin.png' %}" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">
                    CNE
                </span>
                <span class="profession">
                    Sistema educativo
                </span>
            </div>


        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="" title="Dashboard">
                    <a href="{% url 'academico_app:dashboard' %}">
                        <i class="ri-dashboard-line icon"></i>

                        <span class="text nav-text">Mis programas</span>
                    </a>
                </li>

                <li class="" title="Financiero">
                    <a href="{% url 'finance_app:finance-list-invoice' %}">
                        <i class="ri-money-dollar-box-line icon"></i>

                        <span class="text nav-text">Mis pagos</span>
                    </a>
                </li>
                <li class="" title="Usuarios">
                    <a href="#">
                        <i class="ri-school-line icon"></i>
                        <span class="text nav-text">Gestiones académicas</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</nav>
{% elif request.user.tipe.rol == "Docente" %}


<nav class="sidebar">
    <header>

        <div class="image-text">
            <span class="image">
                <img src="{% static 'img/home/lgsin.png' %}" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">
                    CNE
                </span>
                <span class="profession">
                    Sistema educativo
                </span>
            </div>


        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="" title="Dashboard">
                    <a href="{% url 'academico_app:dashboard' %}">
                        <i class="ri-dashboard-line icon"></i>

                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="" title="Usuarios">
                    <a href="#">
                        <i class="ri-contacts-book-3-line icon"></i>
                        <span class="text nav-text">Mis asignaturas</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</nav>
{% else %}
<nav class="sidebar">
    <header>

        <div class="image-text">
            <span class="image">
                <img src="{% static 'img/home/lgsin.png' %}" alt="logo">
            </span>
            <div class="text header-text">
                <span class="name">
                    CNE
                </span>
                <span class="profession">
                    Sistema educativo
                </span>
            </div>


        </div>
    </header>

    <div class="menu-bar">
        <div class="menu">

            <ul class="menu-links">
                <li class="" title="Dashboard">
                    <a href="{% url 'academico_app:dashboard' %}">
                        <i class="ri-dashboard-line icon"></i>

                        <span class="text nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="" title="Docentes">
                    <a href="{% url 'academico_app:list-teacher' %}">
                        <i class="ri-presentation-line icon"></i>

                        <span class="text nav-text">Docentes</span>
                    </a>
                </li>
                <li class="" title="Estudiantes">
                    <a href="{% url 'academico_app:list-student' %}">
                        <i class="ri-user-2-fill icon"></i>

                        <span class="text nav-text">Estudiantes</span>
                    </a>
                </li>
                <li class="" title="Financiero">
                    <a href="{% url 'finance_app:finance-list-invoice' %}">
                        <i class="ri-money-dollar-box-line icon"></i>

                        <span class="text nav-text">Financiero</span>
                    </a>
                </li>
                <li class="" title="Habilitaciones">
                    <a href="{% url 'academico_app:config' %}">
                        <i class="ri-hand-coin-line icon"></i>
                        <span class="text nav-text">Habilitaciones</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>

</nav>

{% endif %}


