/* Google font importaciones */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*colores*/

    --body-color: #f4f4fc;
    --sidebar-color: #fff;
    --primary-color: #266897;
    --primary-color-dark: #205a83;
    --primary-color-light: #f6f5ff;
    --toogle-color: #ddd;
    --text-color: #707070;
    --text-color-tittle: rgb(95, 94, 94);
    --text-color-activos: #3bb798;
    --text-color-inactivos: #ff6466;

    /* Transicion */

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

#body {
    height: auto;
    background: var(--body-color);
    transition: var(--tran-02);
}

#body.dark {
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toogle-color: #fff;
    --text-color: #ccc;
}



.general {
    display: flex !important;
}

/* sidebar */
.sidebar {

    top: 0;
    left: 0;
    height: auto;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
}

/* Resuable Css */





.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

.sidebar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}


.sidebar li .icon,
.sidebar li .text {
    color: var(--text-color);
    transition: var(--tran-02);

}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 600;
}

.header-text .profession {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: rotateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light)
}

.sidebar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.is-active a {
    background: var(--primary-color);
}

.is-active a .icon,
.is-active a .text {
    color: var(--sidebar-color);
}

.dropdown-menu a:hover .icon,
.dropdown-menu a:hover .text {
    color: var(--sidebar-color);
}

.dropdown-menu a:hover,
.dropdown-menu a:hover {
    background: var(--primary-color);
    border-radius: 6px;

}


.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
}

.menu-bar .mode i.sun {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toogle-color);
}

.switch::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

#body.dark .switch::before {
    left: 24px;
}

.header {
    background: var(--sidebar-color);

}

.navbar .btn {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-family: 'Poppins', sans-serif !important;
}

.navbar .btn:hover {
    border-color: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    font-family: 'Poppins', sans-serif !important;
    background: var(--primary-color) !important;
}

.navbar .btn:focus {
    border-color: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    font-family: 'Poppins', sans-serif !important;
    background: var(--primary-color) !important;
}

.encabezado {
    height: 80px;
    align-items: center;
}

.encabezado .titulo {
    padding: 20px;
    color: var(--text-color-tittle);
}

.container-fluid .card {
    font-size: 14px !important;
}

.card .card-header {
    background: var(--sidebar-color);
}

.card .card-header .filtro {
    display: flex;
    align-items: center;
}

.card .card-header .filtro div {
    margin-top: 3px;
}



.card .card-header .boton {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card .card-header .botones-miltiples {
    display: flex;
    justify-content: flex-end;

}

.card .card-header .botones-miltiples button {
    margin-right: 10px;
}


.card .btn {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-family: 'Poppins', sans-serif !important;
}

.card .btn:hover {
    border-color: var(--primary-color) !important;
    color: var(--sidebar-color) !important;
    font-family: 'Poppins', sans-serif !important;
    background: var(--primary-color) !important;
}

#button {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
    font-family: 'Poppins', sans-serif !important;
}

#button:hover {
    color: var(--sidebar-color) !important;
    font-family: 'Poppins', sans-serif !important;
    background: var(--primary-color) !important;
}

.form-check .form-check-input:after {
    background: var(--primary-color) !important;
}

.conte {
    height: auto;
    width: 100%;
    background: var(--sidebar-color);
}

.dataTables_length label select {
    border-color: var(--primary-color) !important;
}

.dataTables_length label select:focus {
    border-color: none !important;
    outline: none !important;
}

div.dataTables_filter label input {
    border-color: var(--primary-color) !important;
}

div.dataTables_filter label input:hover {
    box-shadow: inset 0 0 5px var(--primary-color);
}

div.dataTables_filter label input:focus {
    border-color: none;
    outline: none;
    box-shadow: inset 0 0 5px var(--primary-color);
}

th.sorting {
    align-content: center !important;
}

.estado {
    color: var(--text-color-activos) !important;
}

.nonEstado {
    color: var(--text-color-inactivos) !important;
}


.iconos {
    color: var(--primary-color) !important;
}

.datos {
    display: flex;
    margin-bottom: 10px;
    justify-content: start;
}

.datos .card {
    margin-right: 20px;
    height: 8rem;
}

.datos .card .card-body {
    width: 14rem;
}

.datos .card {
    justify-content: center;
}


.datos .total {
    color: var(--primary-color);
    border-left-color: var(--primary-color) !important;
    border-left-width: 8px !important;
}

.datos .activos {

    color: var(--text-color-activos);
    border-left-color: var(--text-color-activos) !important;
    border-left-width: 8px !important;
}

.datos .inactivos {

    color: var(--text-color-inactivos);
    border-left-color: var(--text-color-inactivos) !important;
    border-left-width: 8px !important;
}

/* Formularios*/
.modal-dialog {
    font-size: 14px !important;
}

.modal-dialog .modal-header .modal-title {
    color: var(--text-color);
}

.btn-primary {
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;

}

.btn-primary:hover {
    background: var(--primary-color-dark) !important;

}

.btn-primary a {
    text-decoration: none;
    color: var(--sidebar-color);
}

.btn-primary a:hover {
    text-decoration: none;
    color: var(--sidebar-color);
}

.information {
    background: var(--sidebar-color) !important;
    width: 100%;
    display: flex;
    font-size: 14px !important;
}


.information .card-title {
    color: var(--primary-color);
}

.card-header strong {
    color: var(--primary-color);
}

.informationExtra {
    background: var(--sidebar-color) !important;
    width: 100%;
    height: 150px !important;
    display: flex;
    border-left-color: var(--primary-color) !important;
    border-left-width: 8px !important;
    font-size: 14px !important;
}


.grid-margin-x h5 {
    color: var(--text-color-activos);
    font-size: 16px !important;
}

#anadir .grid-x div {
    margin-right: 15px;
}

#spinner-div {
    display: none;
}

.titulo {
    font-size: 20px !important;
    font-weight: bold;
    color: var(--primary-color-dark);
}

.comentarios {
    margin-top: 10px;
    color: var(--text-color);
}

.personal {
    margin-top: 30px;
}

.personal-general {
    display: flex;
    margin-top: 20px;
    width: 100%;


}

.personal-icon {
    width: 10%;
    height: 2rem;
}

.personal-icon i {
    font-size: 20px;
    color: var(--primary-color);
}


.personal-text-text {
    font-size: 16px !important;
    font-weight: bold;
    color: var(--primary-color-dark);
}

.personal-text-text-origin {
    margin-top: 3px;
    color: var(--text-color);
}

.filtro .nav-text,
.filtro .form-check-label {
    font-size: 14px !important;
    color: var(--primary-color-dark);
}



.linea {
    border-top: 1px solid #e7e4e4;
    width: 100%;
    padding: 0;
    margin: 20px auto 0 auto;

}

.bloq {
    margin-right: 20px;
    margin-left: 10px;
}

.progress-bar {
    background-color: var(--text-color-activos) !important;
}

.barra {
    text-decoration: none !important;
    color: var(--sidebar-color) !important;
}

.progreso-content {
    margin-bottom: 10px;
}

.badge {
    position: relative;
    top: -20px;
    left: -25px;
    border: 1px solid black;
    border-radius: 50%;
    color: var(--sidebar-color) !important;
    background-color: var(--text-color-inactivos) !important;
    border-color: var(--text-color-inactivos) !important;
}

.sin-student {
    position: relative;
    top: -20px;
    left: -25px;
    border: 1px solid black;
    border-radius: 50%;
    color: var(--sidebar-color) !important;
    background-color: var(--text-color-activos) !important;
    border-color: var(--text-color-activos) !important;
}

#nav-document .form-check {
    margin-bottom: 10px;
}


.tarjetasConfig .card-body {
    color: var(--text-color);
    font-size: 15px !important;
}

.conteTabla th {
    color: var(--primary-color) !important;
}


.tituloCard {
    color: var(--primary-color);
}

.dataTables_length label {
    color: var(--text-color) !important;
}

.dataTables_filter label {
    color: var(--text-color) !important;
}

.cierre {
    align-items: center !important;
    justify-content: center !important;
}

.cierre span {

    font-size: 15px !important;
}

label strong {
    color: var(--text-color-inactivos);
}


/* Css de la pagina de inicio que ve el cliente o visitante*/



.barra-uno-home {
    font-weight: 300;
    font-size: small;
    font-style: normal;
    background-color: var(--primary-color-dark);
    height: 40px;
    color: var(--primary-color-light);
    display: flex;

}

.apreciar {
    display: none !important;
}

.barra-uno-home a {
    text-decoration: none !important;
    color: var(--primary-color-light) !important;
}

.barra-uno-home a:hover {
    color: var(--text-color-activos) !important;
    transition-property: color;
    transition-delay: 0.2s;

}


.barra-uno-home .barra-uno-home-uno div {
    justify-content: center;
    padding: 10px;
}

.barra-uno-home .barra-uno-home-dos div {
    text-align: end;
    padding: 10px;
}

.navbar .navbar-brand {
    display: flex;
    font-style: normal;
    font-size: medium;
    font-weight: 400;
    color: var(--primary-color-dark) !important;
}

.navegacion .navbar-nav .nav-item {
    margin-left: 40px !important;
}

.navegacion .navbar-nav .nav-item .nav-link {
    color: var(--primary-color-dark) !important;
}

.navegacion .navbar-nav .nav-item:hover {
    border-bottom: 3px solid var(--text-color-activos) !important;
    transition-property: border-bottom;
    transition-delay: 0.2s;

}

.navegacion .active {
    border-bottom: 3px solid var(--text-color-activos) !important;

}


#dos .dropdown-menu {
    background: var(--primary-color-dark) !important;
    width: 400px !important;


}

#dos .dropdown-menu .dropdown-item {
    color: var(--primary-color-light) !important;
    font-size: medium;
    font-weight: 300;
    height: 50px;
    padding: 15px;

}


.carousel-item {
    height: 550px;
}

.carousel-item img {
    height: 550px;
    filter: brightness(60%);
}



.buttonCarruosel {
    background: var(--text-color-activos) !important;
}

.iconosBase {
    height: auto;
    background: var(--sidebar-color);
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}

.iconosBase button {

    margin: 20px;
    border: none !important;
    color: var(--primary-color-dark) !important;

}

.iconosBase button i {

    font-size: 35px !important;


}

.iconosBase button:hover {

    background: none !important;
    color: var(--text-color-activos) !important;
    transition-duration: 0.5s;


}

.estudiar {
    margin-top: 20px;
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
    background: var(--primary-color-dark);
}

.estudiar-imagen {
    display: inline-flex;
    width: 100%;
    margin-bottom: 20px;
}

.estudiar-imagen .estudiar-imagen-primaria {
    position: relative;
    background: var(--text-color-activos);

}

.estudiar-imagen .estudiar-imagen-primaria img {
    filter: brightness(60%);

}

.estudiar-imagen .estudiar-imagen-primaria:hover img {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.5s;

}

.estudiar-imagen .estudiar-imagen-primaria h3 {
    color: var(--primary-color-light);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.estudiar-imagen .estudiar-imagen-bachillerato {
    position: relative;
    background: var(--text-color-inactivos);

}

.estudiar-imagen .estudiar-imagen-bachillerato img {
    filter: brightness(60%);

}

.estudiar-imagen .estudiar-imagen-bachillerato:hover img {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.5s;

}

.estudiar-imagen .estudiar-imagen-bachillerato h3 {
    color: var(--primary-color-light);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.estudiar-imagen .estudiar-imagen-tecnicos {
    position: relative;
    background: var(--primary-color);

}

.estudiar-imagen .estudiar-imagen-tecnicos img {
    filter: brightness(60%);

}

.estudiar-imagen .estudiar-imagen-tecnicos:hover img {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.5s;

}

.estudiar-imagen .estudiar-imagen-tecnicos h3 {
    color: var(--primary-color-light);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.estudiar-imagen .estudiar-imagen-cursos {
    position: relative;
    background: var(--text-color);

}

.estudiar-imagen .estudiar-imagen-cursos img {
    filter: brightness(60%);

}

.estudiar-imagen .estudiar-imagen-cursos:hover img {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.5s;

}


.estudiar-imagen .estudiar-imagen-cursos h3 {
    color: var(--primary-color-light);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.estudiar-titulo {
    margin: 20px;
    color: var(--primary-color-light);


}

.estudiar-titulo h3 {
    font-weight: bold;
}

.valores {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.valores i {
    font-size: 50px !important;
    color: var(--primary-color-dark);



}

.valores h3 {
    font-weight: bold;
    margin-top: 10px;
    color: var(--primary-color-dark);
}

.valores p {
    margin-top: 20px;
    color: var(--primary-color-dark);
}

.valores-info-uno-titulo h3,
.valores-info-dos-mision-titulo h3,
.valores-info-dos-vision-titulo h3 {
    border-bottom: 2px solid var(--text-color-activos) !important;
}


.footter {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--sidebar-color);
    font-size: 13px !important;
    height: 100%;
    width: 100%;
    background: var(--primary-color-dark);
}


.footter-final-datos,
.footter-final-social {
    margin-top: 30px;

}

.footter-footer {
    margin-top: 10px;

}

.footter-final-datos p,
.footter-final-social p {
    text-align: left;

}

.footter-final-datos h5,
.footter-final-social h5 {

    border-bottom: 3px solid var(--text-color-activos) !important;
    padding-bottom: 10px;

}

.programa-contenedor img {

    height: 250px;
    max-width: 100%;

}

.programa-contenedor h1 {

    color: var(--primary-color-dark) !important;

}

.adicional .titulo h2 {

    color: var(--primary-color-dark) !important;
    border-bottom: 3px solid var(--text-color-activos) !important;

}

.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: var(--text-color-activos);
    color: var(--body-color);
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    color: var(--text-color-activos);
    background: var(--body-color);
}


/* Formularios del login */

.body-login {
    background: var(--body-color);
    width: 100%;
    height: 100%;

}

.body-login .container-fluid {
    width: 450px;

    margin-top: 120px;

}

.body-login h2,
.body-login label {
    color: var(--primary-color)
}



/* Mediaquery homepage */

@media screen and (max-width: 767px) {
    .sidebar {
        width: 85px;

    }


    .sidebar .text {
        opacity: 0;

    }



    .carousel-item h1 {
        font-size: 20px;
    }

    .barra-uno-home {
        display: none !important;
    }

    .apreciar {
        display: block !important;
    }

    .barra-nav {
        height: 350px !important;
    }

    .estudiar {
        width: 100%;

    }

    .estudiar-imagen {
        display: inline-table;
        width: 100%;
    }

    .estudiar-imagen img {
        width: 100%;
        height: 200px;
    }



    .estudiar-titulo h3,
    .estudiar-imagen .estudiar-imagen-bachillerato h3,
    .estudiar-imagen .estudiar-imagen-tecnicos h3,
    .estudiar-imagen .estudiar-imagen-cursos h3,
    .estudiar-imagen .estudiar-imagen-primaria h3 {
        font-size: 20px;
    }

    .tituloCard,
    .adicional .encabezado .titulo span h2 {

        font-size: 20px;
    }

    .tarjetasConfig .card-body {
        height: auto;
    }



    .error4 h2 {
        font-size: 25px !important;
    }


    .iconosBase {
        margin-top: 0px;
    }

    .iconosBase button {

        margin: 20px;
        height: auto !important;
    }

    .iconosBase button i {

        font-size: 30px !important;


    }

    .iconosBase h2 {
        font-size: 20px !important;
    }

    .valores-info-uno-titulo h3,
    .valores-info-dos-mision-titulo h3,
    .valores-info-dos-vision-titulo h3 {
        font-size: 20px;
    }

    .valores-info {
        font-size: 20px;
    }

    .adicional {
        margin-top: 50px;
    }

    .adicional h6 {
        font-size: 20px;
    }

    .adicional .texto-movil p {

        font-size: 12px;
    }

    .footter {
        height: auto;

    }

    .footter-final-datos h5,
    .footter-final-datos p {
        font-size: 12px;
        margin-left: 15px;
        text-align: center;
    }

    .footter-final-social {
        display: none;
    }

    .footter-footer {
        margin-top: 50px;

    }

    .footter-footer p {

        font-size: 12px;
        margin-left: 15px;
        margin-bottom: 15px;
    }

    .btn-wsp {
        right: 25px;
    }






}


/* error404 */

.error404 .container-fluid {

    max-width: 800px;
    margin-top: 120px;
}