
{% load  static %}

<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel"><i class="ri-pencil-fill "></i> Actualización de programas</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
        <form  method="post" id="dataGeneralForm" action="{% url 'settings_app:update-Program' object.pk %}" >{% csrf_token %}
          <div id="errores" ></div>
          {{ form.costo }}
          <div class="container-fluid" style="margin-top: 15px;"> 
              <div class="row">
                  <div class="col-md-6">
                  <div class="{{ form.programa_name.id_for_label }}" ></div>
                  <label for="{{ form.programa_name.id_for_label }}">Nombre del Programa:</label>
                  {{ form.programa_name }}
                  </div>
                  <div class="col-md-6 ms-auto"">
                  <div class="{{ form.aceptado.id_for_label }}" ></div>
                  <label for="{{ form.aceptado.id_for_label }}">Total materias:</label>
                  {{ form.aceptado }}
                  </div>
              </div>
          </div>
          <div class="container-fluid" style="margin-top: 15px;"> 
              <div class="row">
                  <div class="col-md-6">
                  <div class="{{ form.matricula.id_for_label }}" ></div>
                  <label for="{{ form.matricula.id_for_label }}">Valor de la matrícula:</label>
                  {{ form.matricula }}
                  </div>
                  <div class="col-md-6 ms-auto"">
                  <div class="{{ form.cuotas.id_for_label }}" ></div>
                  <label for="{{ form.cuotas.id_for_label }}">Número de mensualidades:</label>
                  {{ form.cuotas }}
                  </div>
              </div>
          </div>
          
          <div class="container-fluid" style="margin-top: 15px;"> 
            <div class="row">
                <div class="col-md-6">
                <div class="{{ form.cuota_valor.id_for_label }}" ></div>
                <label for="{{ form.cuota_valor.id_for_label }}">Valor de la mensualidad:</label>
                {{ form.cuota_valor }}
                </div>
                <div class="col-md-6 ms-auto"">
                <div class="{{ form.derechosGrado.id_for_label }}" ></div>
                <label for="{{ form.derechosGrado.id_for_label }}">Valor de los derechos a grado:</label>
                {{ form.derechosGrado }}
                </div>
            </div>
          </div>
          <div class="container-fluid" style="margin-top: 15px;"> 
            <div class="row">
              <div class="col-md-6">
                <div class="{{ form.tipe.id_for_label }}" ></div>
                <label for="{{ form.tipe.id_for_label }}">Tipo de programa:</label>
                {{ form.tipe }}
              </div>
              <div class="col-md-6 ms-auto">
                <div class="form-group">
                  <label for="{{ form.tiene_grado.id_for_label }}">¿Este programa incluye ceremonia de grado?</label>
                  <div class="custom-control custom-switch mt-2">
                    {{ form.tiene_grado }}
                    <label class="custom-control-label" for="{{ form.tiene_grado.id_for_label }}" id="gradoStatus">No</label>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="alert alert-primary" role="alert">
              <strong> El costo del programa es de:</strong>  <p id="parrafo" ></p>
            </div>
          </div>
            <div class="modal-footer" style="margin-top: 15px;">
              
              <button class="btn btn-primary" type="button" id="spinner-div" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Cargando...
              </button>
    
              <button type="button" class="btn btn-primary" id="spinner-div-real" onclick="sendUser()">
                Actualizar programa
              </button>
            <button type="button" class="btn btn-danger"  data-dismiss="modal">Cerrar</button>
            </div>
        </form>
      </div> 
    </div>
  </div>

<script type="text/javascript">
  $(document).ready(function() {
    const formatter = new Intl.NumberFormat('es-CO', {
        style: 'currency',
        currency: 'COP',  // Cambia 'COP' por el código de tu moneda, por ejemplo 'USD' para dólares
        minimumFractionDigits: 2, // Número mínimo de decimales
        maximumFractionDigits: 2  // Número máximo de decimales
    });
    $('#matricula').on('change', function() {
      var matricula= document.getElementById('matricula').value;
      var cuota_value= document.getElementById('cuota_valor').value;
      var cuotas= document.getElementById('cuotas').value, Dgrado= document.getElementById('derechosGrado').value ;
      var total = parseFloat(matricula) + parseFloat(Dgrado) + parseFloat(cuota_value * cuotas)
      $("#parrafo").text(formatter.format(total));
      $("#costo").val(total);
    });
    $('#cuota_valor').on('change', function() {
      var matricula= document.getElementById('matricula').value;
      var cuota_value= document.getElementById('cuota_valor').value;
      var cuotas= document.getElementById('cuotas').value, Dgrado= document.getElementById('derechosGrado').value ;
      var total = parseFloat(matricula) + parseFloat(Dgrado) + parseFloat(cuota_value * cuotas)
      $("#parrafo").text(formatter.format(total));
      $("#costo").val(total);
    });
    $('#cuotas').on('change', function() {
      var matricula= document.getElementById('matricula').value;
      var cuota_value= document.getElementById('cuota_valor').value;
      var cuotas= document.getElementById('cuotas').value, Dgrado= document.getElementById('derechosGrado').value ;
      var total = parseFloat(matricula) + parseFloat(Dgrado) + parseFloat(cuota_value * cuotas)
      $("#parrafo").text(formatter.format(total));
      $("#costo").val(total);
    });
    $('#derechosGrado').on('change', function() {
      var matricula= document.getElementById('matricula').value;
      var cuota_value= document.getElementById('cuota_valor').value;
      var cuotas= document.getElementById('cuotas').value, Dgrado= document.getElementById('derechosGrado').value ;
      var total = parseFloat(matricula) + parseFloat(Dgrado) + parseFloat(cuota_value * cuotas)
      $("#parrafo").text(formatter.format(total));
      $("#costo").val(total);
    });
          
  });
  function toggleText() {
    var checkbox = document.getElementById("tiene_grado");
    var statusText = document.getElementById("gradoStatus");
    statusText.textContent = checkbox.checked ? "Si" : "No";
  }
  toggleText();

    function sendUser() {
      var serializedData = $("#dataGeneralForm").serialize();
      if (serializedData) {
        $('#spinner-div').show();
        $('#spinner-div-real').hide();
        var request = $.ajax({
          type: "POST",
          url: "{% url 'settings_app:update-Program' object.pk %}",
          data: serializedData,
          success: function (response) {
            $("#edicion").modal("hide");
            window.location = "{% url 'settings_app:list-program' %}";
            mostrarOk();
            
            
          },
          error: function (error) {
            $('#spinner-div-real').show();
            $('#spinner-div').hide()
            mostrarErroresCreacionEditar(error);
            mostrarError();
          }
        });
      } 
    }
</script>


