{% extends "Base2.html" %}
{% load  static %}

{% block title %}Asignaturas | Portal CNE{% endblock title %}



    

{% block extracontent %}



<div class="container-fluid ">
    <div class="row encabezado">
        <div class="titulo">
          <span class=""><h2><i class="ri-macbook-line"></i> {{asignatura.nombre_materia}}</h2></span>
        </div>
        
    </div>
    
  
    <div class="card shadow">
        <div class="card-header">
            <div class="row">

                <div class="col filtro">
              
              
                </div>
              
              <div class="col-7 boton">
                <button  type="button" title="Asignar" class="btn btn-sm" onclick="abrir_modal_general('{% url 'settings_app:create-materias' pk %}')">
                  <a >
                    <i class="ri-add-circle-line"></i>
                    &nbsp; Nueva asignación
                  </a>
                </button>
              </div>
            </div>
          </div>
      
      <div class="card-body">
          <div class="container-fluid" style="">
            <div  class="row">
              <div class="conte">
                <div class ="conteTabla">
  
                  {% if materias %}
                  <table  id="table_general" class="hover" style="width:100%; ">
                    <thead >
                      <th>Sede</th>
                      <th>Docente</th>
                      <th>Periodo</th>
                      <th>Jornada</th>
                      <th>Fecha de cierre</th>
                      <th>Estado</th>
                      <th>Acciones</th>

                    </thead>
                    <tbody>
                      {% for i in materias %}
                        <tr>
                          <td>{{i.sede}}</td>
                          <td>{{i.docente}}</td>
                          <td>{{i.periodo}}</td>
                          <td>{{i.jornada}}</td>
                          <td>{{i.cierre}}</td>
                          {% if i.is_active %}
                          <td><span class="estado"><i class="ri-checkbox-circle-fill"></i>&nbsp;Activo</span></td>
                          <td>
                            {% if i.total > 0 %}
                            <a class="buscar-iconos" href="{% url 'settings_app:list-banner' i.slug  %}" title="Consultar"><i class="ri-search-line iconos"></i></a>
                            {% else %}
                            <a class="buscar-iconos" href="#" title="Consultar"><i class="ri-search-line nonEstado" ></i></a>
                            {% endif %}
                           </td>
                          {% else %}
                          <td><span class="nonEstado"><i class="ri-close-circle-line"></i>&nbsp;Inactivo</span></td>
                          <td>
                            {% if i.total > 0 %}
                            <a class="buscar-iconos" href="{% url 'settings_app:list-banner' i.slug  %}" title="Consultar"><i class="ri-search-line iconos"></i></a>
                            {% else %}
                            <aclass="buscar-iconos"  href="#" title="Consultar"><i class="ri-search-line nonEstado" ></i></aclass=>
                            {% endif %}
                          </td>
                          {% endif %}
                        </tr>
                      {% endfor %}
                      
                    </tbody>
                  </table> 
                {% else %}
                <table id="table_general"  class="hover" style="width:100%; ">
                  <thead >
                    <th>Sede</th>
                    <th>Docente</th>
                    <th>Periodo</th>
                    <th>Jornada</th>
                    <th>Fecha de cierre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </thead>
                  <tbody>
                    <tr>
                        <td > - </td >
                        <td > - </td >
                        <td > - </td >
                        <td > - </td >
                        <td > - </td >
                        <td > - </td >
                        <td > - </td >
                      
                    </tr>
                  </tbody>
                </table>   
                {% endif %}
                  
                </div>
              </div>
            </div>
            </div>
          </div>
          
        </div>
      </div>
  
  
    </div>
  </div>
  

<div class="modal fade" id="edicion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

{% endblock extracontent %}

{% block js %}
<script>
  var $=jQuery.noConflict();
  function abrir_modal_edicion(url) {
    $('#edicion').load(url, function(){
        $(this).modal('show');
    });
  }
  function actulizar_eliminar(url, accion) {

    if (accion == "habilitar") {
      $("#edicion").load(url, function () {
        $(this).modal("show");
        document.getElementById("tittle").innerHTML  = "Desea habilitar a:";
        $('#accion').val(accion);
    
      });
    } else if (accion == "eliminar"){
      $("#edicion").load(url, function () {
        $(this).modal("show");
      });
    }else {
      $("#edicion").load(url, function () {
        $(this).modal("show");
        document.getElementById("tittle").innerHTML  = "Desea inhabilitar a:";
        $('#accion').val(accion);

    
      });
        
  
    }
  }

</script>
{% endblock js %}