{% load  static %}

<div class="modal-dialog modal-xl" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"> <i class="fa-solid fa-laptop-code"></i>&nbsp; Detalle de tareas y trabajos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        {% if banner %}

        <div class="card shadow">
          
          <div class="card-body">
              <div class="container-fluid" style="">
                <div  class="row">
                  <div class="conte">
                    <div class ="conteTabla">

                      {% if total > 1 %}
                      <table id="table_general1"  class="hover" style="width:100%; ">
                        <thead >
                          <th>Tarea</th>
                          <th>Detalle</th>
                          <th>Acciones</th>
                        </thead>
                        <tbody>
                          {% for i in banner %}
                          <tr>
                            <td > {{i.tarea}} </td >
                            <td > {{i.observacion}} </td >
                            <td >
                              <a onclick="abrir_modal_edicion('{% url 'settings_app:Task-Delete-View' i.codigo %}')" title="Eliminar"><i   class="fa-regular fa-trash-can iconos"></i></a>
                              <a onclick="abrir_modal_edicion('{% url 'settings_app:Banner-Note-Masive' i.codigo %}')" title="Cargar notas"><i   class="fa-solid fa-upload iconos"></i></a>
                              <a onclick="abrir_modal_edicion('{% url 'settings_app:Task-Delete-View' i.codigo %}')" title="Descargar plantilla"><i   class="fa-solid fa-download iconos"></i></a>
                              
                            </td >
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table> 
                      {% else %}
                      <table id="table_general1"  class="hover" style="width:100%; ">
                        <thead >
                          <th>Tarea</th>
                          <th>Detalle</th>
                          <th>Acciones</th>
                        </thead>
                        <tbody>
                          {% for i in banner %}
                          <tr>
                            <td > {{i.tarea}} </td >
                            <td > {{i.observacion}} </td >
                            <td >
                              <span class="nonEstado"><i   class="fa-regular fa-trash-can "></i></span>
                              <a onclick="abrir_modal_edicion('{% url 'settings_app:Banner-Note-Masive' i.codigo %}')" title="Cargar notas"><i   class="fa-solid fa-upload iconos"></i></a>
                              <a onclick="abrir_modal_edicion('{% url 'settings_app:Task-Delete-View' i.codigo %}')" title="Descargar plantilla"><i   class="fa-solid fa-download iconos"></i></a>
                              
                            </td >
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table> 
                      {% endif %}
      
                    
                      
                    </div>
                  </div>
                </div>
                </div>
              </div>
              
            </div>
          </div>
      
      
        </div>
  
        {% endif %}
      </div> 
    </div>
</div>


  {% block js %}
  <script type="text/javascript">

   
    $(document).ready(function () {
      var $ = jQuery.noConflict();
      var tabla = $('#table_general1').DataTable({
        language: {
          "decimal": "",
          "emptyTable": "No hay información",
          "info": "Mostrando _START_ a _END_ de _TOTAL_ Registros",
          "infoEmpty": "Mostrando 0 to 0 of 0 Registros",
          "infoFiltered": "(Filtrado de _MAX_ total entradas)",
          "infoPostFix": "",
          "thousands": ",",
          "lengthMenu": "Items por rango: _MENU_",
          "loadingRecords": "Cargando...",
          "processing": "Procesando...",
          "search": "Buscar:",
          "zeroRecords": "Sin resultados encontrados",
          "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
          }
        }
      });

       


    })
  
  
  </script>
  
  {% endblock js %}

