{% load  static %}

<div class="barra-uno-home " id="barra-uno-home">
  <div class="col barra-uno-home-uno">
    {% if request.user.is_authenticated %}
    
    <div>
      <span class="">Hola {{request.user.nombres}} &nbsp; | &nbsp;</span>
      <a class="" href="{% url 'user_app:list-user' %}">
          <i class="fas fa-user"></i> &nbsp;
          Acceder
      </a>
    </div>
    {% else %}
    <div>
        
        <a class="" href="{% url 'homepage_app:login'%}">
          <i class="fa-solid fa-right-to-bracket"></i> &nbsp;
          Iniciar Sesión
        </a>
    </div>
    {% endif %}
  </div>
  <div class="col barra-uno-home-dos">
    <div>
      <i class="fa-solid fa-phone"></i> &nbsp;
      (+57) 3185824051 | Calle 31 # 20 - 12 Palmira
  </div>
  </div>
</div>
<nav class="">

  <nav class="navbar  navbar-expand-lg navbar-light bg-light shadow">
    <a class="navbar-brand" href="{% url 'homepage_app:home'%}">

      <img src="{% static 'img/home/act.png' %}" alt="" width="100" height="65" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse navegacion" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"  id="uno">
          <a class="nav-link" href="{% url 'homepage_app:home'%}">La institución <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown"  id="dos">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Estudia en CNE </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'homepage_app:primaria'%}">Primaria para adultos</a>
            <a class="dropdown-item" href="{% url 'homepage_app:bachillerato'%}">Bachillerato por ciclos</a> 
            <a class="dropdown-item" href="{% url 'homepage_app:sistemas'%}">Técnico en sistemas</a>
            <a class="dropdown-item" href="{% url 'homepage_app:administracion'%}">Técnico en Administración de empresas</a>
            <a class="dropdown-item" href="{% url 'homepage_app:primera-infancia'%}">Técnico Atención Integral A La Primera Infancia</a>
            <a class="dropdown-item" href="{% url 'homepage_app:secretariado'%}">Técnico en Secretariado ejecutivo</a>
          </div>
        </li>
        <li class="nav-item"  id="tres">
          <a class="nav-link" href="{% url 'homepage_app:contact' %}">Contáctanos </a>
        </li>
      </ul>
    </div>
  </nav>
</nav>
  

  





    
