{% load  static %}
<div class="fixed-top">
  <div class="barra-uno-home">
    <div class="col barra-uno-home-uno">
      {% if request.user.is_authenticated %}
      
      <div>
        <span class="">Hola {{request.user.nombres}} &nbsp; | &nbsp;</span>
        <a class="" href="{% url 'user_app:list-user' %}">
            <i class="fas fa-user"></i> &nbsp;
            Acceder
        </a>
      </div>
      {% else %}
      <div>
          
          <a class="" href="{% url 'homepage_app:login'%}">
            <i class="fa-solid fa-right-to-bracket"></i> &nbsp;
            Iniciar Sesión
          </a>
      </div>
      {% endif %}
    </div>
    <div class="col barra-uno-home-dos">
      <div>
        <i class="fa-solid fa-phone"></i> &nbsp;
        (+57) 3185824051 | Calle 31 # 20 - 12 Palmira
    </div>
    </div>
  </div>



  <nav class="navbar shadow">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div>
          <img src="{% static 'img/home/act.png' %}" alt="" width="100" height="65" class="d-inline-block align-text-top">
        </div>
      </a>
    </div>
  </nav>
</div>




    
