{% extends "homepage/homepage.html" %}
{% load  static %}
{% block homecontent %}
<div>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'img/home/u.jpg' %}" alt="First slide">
            <div class="carousel-caption d-none d-md-block">
              <h1 >Prepara tu futuro con nosotros</h1>
              
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/home/2.jpg' %}" alt="Second slide">
            <div class="carousel-caption d-none d-md-block">
              <h1>Conoce nuestros programas</h1>
              <a href="{% url 'homepage_app:tecnico-general'%}" role="button" class="btn btn-info buttonCarruosel">Haz click aquí</a>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'img/home/grado1.jpg' %}" alt="Third slide">
            <div class="carousel-caption d-none d-md-block">
              <h1>Educación de calidad a precios justos</h1>
            </div>
          </div>
        </div>
        
      </div>
  </div>
  <div class="container iconosBase">
    
    <button onclick="location.href='{% url 'homepage_app:calendario-home'%}'" class="btn btn-outline-info" type="button" id="home-botones">
      <div>
        <i class="fa-regular fa-calendar-days"></i>
      </div>
      <div>
        <h2>Calendario académico</h2>
      </div>
    </button>     
  </div>

  <div class=" estudiar">
    <div class="estudiar-titulo">
     <h3>¿Qué quieres estudiar?</h3>
    </div>
    <div class="estudiar-imagen">
      <div class="estudiar-imagen-primaria">
        <a href="{% url 'homepage_app:primaria'%}">
          <img src="{% static 'img/home/primaria.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
          <h3>Primaria para adultos</h3>
        </a>
        
      </div>
      <div class="estudiar-imagen-bachillerato">
        <a href="{% url 'homepage_app:bachillerato'%}">
          <img src="{% static 'img/home/imagen1.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
         <h3>Bachillerato por ciclos</h3>
        </a>
        
      </div>
      <div class="estudiar-imagen-tecnicos">
        <a href="{% url 'homepage_app:tecnico-general'%}" >
          <img src="{% static 'img/home/imagen2.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
          <h3>Programas técnicos</h3>
        </a>
        
      </div>
      <div class="estudiar-imagen-cursos">
        <a>
          <img src="{% static 'img/home/imagen3.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
        <h3>Cursos</h3>
        </a>
        
      </div>
      
    </div>

    
  </div>

  <div class="container-fluid adicional " >
    
    <div class="row tarjetasConfig ">
  
      <div class="col-lg ">
  
          <!-- Default Card Example -->
          <div class="card shadow mb-4 ">
              <div class="card-header py-3 text-center">
                  <h6 class="m-0 font-weight-bold tituloCard"> <i class="fa-solid fa-graduation-cap"></i> &nbsp;Inmersos en una cultura</h6>
              </div>
              <div class="card-body text-center texto-movil">
                <p>La Corporación Nacional de Estudios ofrece una formación integral  
                para sus técnicos y bachilleres que tiene como base un equilibrio 
                entre educación de vanguardia y valores éticos.</p>
              </div>
              
          </div>
      </div>     
  
    
    </div>
  
  </div>
  <div class="container-fluid adicional">
    
    <div class="row tarjetasConfig">
  
      
  
      <div class="col-lg">
    
        <!-- Default Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 text-center">
               <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-award"></i> &nbsp;Misión</h6>
            </div>
            <div class="card-body text-center texto-movil">
              <figcaption> ° <p>Formar bachilleres con conducta participativa, crítica, responsable, 
                creativa y proyectada a la continuación de sus estudios superiores.</p></figcaption>
              <figcaption> ° <p>Formar técnicos laborales capaces de liderar diferentes procesos de
                transformación teniendo como base los principios éticos.</p>  </figcaption>
            </div>
            
        </div>
       </div>
  
       
  
    
    </div>
  
  </div>
  <div class="container-fluid adicional">
    
    <div class="row tarjetasConfig">
  
  
       <div class="col-lg">
    
        <!-- Default Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 text-center">
                  <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-school"></i> &nbsp;Visión</h6>
                </div>
                <div class="card-body text-center texto-movil">
                  <p>Ser líder a nivel local y regional en la formación 
                  de bachilleres académicos y técnicos laborales que se
                  distingan por  su calidad educativa.</p>
                </div>
                
                
            </div>
       </div>
  
    
    </div>
  
  </div>

  
{% endblock homecontent %}