{% extends "base.html" %}
{% load  static %}
{% block title %}
CNE -Palmira
{% endblock title %}
{% block content %}
<div>
    <div>
        {% include "homepage/head.html" %}
    </div>
    <div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="{% static 'img/home/u.jpg' %}" alt="First slide">
              <div class="carousel-caption d-none d-md-block">
                <h1>Prepara tu futuro con nosotros</h1>
                
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'img/home/2.jpg' %}" alt="Second slide">
              <div class="carousel-caption d-none d-md-block">
                <h1>Conoce nuestros programas</h1>
                <button type="button" class="btn btn-info buttonCarruosel">Haz click aquí</button>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="{% static 'img/home/grado1.jpg' %}" alt="Third slide">
              <div class="carousel-caption d-none d-md-block">
                <h1>Educación de calidad a precios justos</h1>
              </div>
            </div>
          </div>
          
        </div>
    </div>
    <div class="container iconosBase">
      <button class="btn btn-outline-info" type="button" id="home-botones">
        <div>
          <i class="fa-regular fa-pen-to-square"></i>
        </div>
        <div>
          Inscripciones
        </div>
      </button>
      <button class="btn btn-outline-info" type="button" id="home-botones">
        <div>
          <i class="fa-regular fa-calendar-days"></i>
        </div>
        <div>
          Calendario académico
        </div>
      </button>     
    </div>

    <div class=" estudiar">
      <div class="estudiar-titulo">
       <h3>¿Qué quieres estudiar?</h3>
      </div>
      <div class="estudiar-imagen">
        <div class="estudiar-imagen-primaria">
          <a>
            <img src="{% static 'img/home/primaria.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
            <h3>Primaria para adultos</h3>
          </a>
          
        </div>
        <div class="estudiar-imagen-bachillerato">
          <a>
            <img src="{% static 'img/home/imagen1.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
           <h3>Bachillerato por ciclos</h3>
          </a>
          
        </div>
        <div class="estudiar-imagen-tecnicos">
          <a>
            <img src="{% static 'img/home/imagen2.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
            <h3>Programas técnicos</h3>
          </a>
          
        </div>
        <div class="estudiar-imagen-cursos">
          <a>
            <img src="{% static 'img/home/imagen3.jpeg' %}" alt="" width="340" height="200" class="d-inline-block align-text-top">
          <h3>Cursos</h3>
          </a>
          
        </div>
        
      </div>

      
    </div>

    <div class="container valores">
      
      <div class="valores-info">
        <div class="valores-info-uno">
          <div class="valores-info-uno-icono">
            <i class="fa-solid fa-graduation-cap"></i>
          </div>
          <div class="valores-info-uno-titulo">
            <h3>Inmersos en una cultura</h3>
            
          </div>
          <div class="valores-info-uno-texto">
            <p>La Corporación Nacional de Estudios ofrece una formación integral  
              para sus técnicos y bachilleres que tiene como base un equilibrio 
              entre educación de vanguardia y valores éticos.
            </p>
          </div>
        </div>
        <div class="row valores-info-dos">
          <div class="col valores-info-dos-mision">
            <div class="valores-info-dos-mision-icono">
              <i class="fa-solid fa-award"></i>
            </div>
            <div class="valores-info-dos-mision-titulo">
              <h3>Misión</h3>
            </div>
            <div class="valores-info-dos-mision-texto">
              <p>Formar bachilleres con conducta participativa, crítica, responsable, 
                creativa y proyectada a la continuación de sus estudios superiores.
              </p>
              <p>Formar técnicos laborales capaces de liderar diferentes procesos de
                 transformación teniendo como base los principios éticos.
              </p>
            </div>
          </div>
          <div class="col valores-info-dos-vision">
            <div class="valores-info-dos-vision-icono">
              <i class="fa-solid fa-school"></i>
            </div>
            <div class="valores-info-dos-vision-titulo">
              <h3>Visión</h3>
            </div>
            <div class="valores-info-dos-vision-texto">
              <p>Ser líder a nivel local y regional en la formación 
                de bachilleres académicos y técnicos laborales que se
                 distingan por  su calidad educativa..
              </p>
            </div>
      
          </div>
        </div>
      </div>
    </div>

    <div class=" footter">
      <div class="container row footter-final">
        <div class=" col footter-final-social">
          
        </div>
        <div class="col footter-final-datos">
          <h5>Contacto</h5>
          <p> <i class="fa-regular fa-map"></i>&nbsp; Calle 31#20-12 - Palmira, Valle del Cauca</p>
          <p><i class="fa-solid fa-phone"></i> &nbsp;  2855359</p>
          <p><i class="fa-solid fa-phone"></i> &nbsp; 3185824051</p>
          <p><i class="fa-regular fa-envelope"></i>  &nbsp; corporacionnacionalpalmira@gmail.com</p>
          <p><i class="fa-regular fa-envelope"></i>  &nbsp; fundacioneltriunfo@gmail.com</p>
          <p><i class="fa-regular fa-copyright"></i>  &nbsp; Copyright © 2024 CNE</p>

          
      
        </div>
        <div class=" col footter-final-social">
          <h5>Síguenos en</h5>
          <a>
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          
        </div>
        
      
      </div>
      <div class="container footter-footer">
        <p>La Corporación Nacional de Estudios es una Institución 
          que se encuentra sujeta a inspección y vigilancia por parte de la 
          Secretaría de Educación Municipal de Palmira.
        </p>
      </div>
   </div>

   <div class="container">
  </div>
</div>



{% endblock content %}
    