{% extends "base.html" %}
{% load  static %}
{% block title %}
CNE -Palmira
{% endblock title %}
{% block content %}
<header>
  <section class="fixed-top">
  {% include "homepage/head.html" %}
</section>
</header>
<div>
    <div>
    
    {% block homecontent %}
    {% endblock homecontent %}
    </div>
    <div class=" footter">
      <div class="container row footter-final">
        <div class=" col footter-final-social">
          
        </div>
        <div class="col footter-final-datos">
          <h5>Contacto</h5>
          <p> <i class="fa-regular fa-map"></i>&nbsp; Calle 31#20-12 - Palmira, Valle del Cauca</p>
          <p><i class="fa-solid fa-phone"></i> &nbsp;  2855359</p>
          <p><i class="fa-solid fa-phone"></i> &nbsp; 3185824051</p>
          <p><i class="fa-regular fa-envelope"></i>  &nbsp; corporacionnacionalpalmira@gmail.com</p>
          <p><i class="fa-regular fa-envelope"></i>  &nbsp; fundacioneltriunfo@gmail.com</p>
          <p><i class="fa-regular fa-copyright"></i>  &nbsp; Copyright © 2024 CNE</p>

          
      
        </div>
        <div class=" col footter-final-social">
          <h5>Síguenos en</h5>
          <a>
            <i class="fa-brands fa-square-facebook"></i>
          </a>
          
        </div>
        
      
      </div>
      <div class="container footter-footer">
        <p>La Corporación Nacional de Estudios es una Institución 
          que se encuentra sujeta a inspección y vigilancia por parte de la 
          Secretaría de Educación Municipal de Palmira.
        </p>
      </div>
   </div>

   <div class="container">
  </div>
</div>



{% endblock content %}
    