{% extends "homepage/homepage.html" %}
{% load  static %}
{% block homecontent %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'img/home/primariaConCambio.jpeg' %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Primaria para adultos</h1>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div>




<div class="container-fluid adicional">
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2> Datos del programa</h1></span>
      </div>
      
  </div>
  <div class="row tarjetasConfig">

    <div class="col-lg-4">

        <!-- Default Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 text-center">
                <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-regular fa-calendar-days"></i> &nbsp;Duración</h6>
            </div>
            <div class="card-body text-center">
                El programa tiene una duración de 1 año.
            </div>
            
        </div>
    </div>

    <div class="col-lg-4">
  
      <!-- Default Card Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
             <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-regular fa-clock"></i> &nbsp;Horarios</h6>
          </div>
          <div class="card-body text-center">
          Sábados 8:30am a 12:30pm – 02:00pm a 6:00pm
          </div>
          
      </div>
     </div>

     <div class="col-lg-4">
  
      <!-- Default Card Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
             <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-circle-check"></i> &nbsp;Aplica para</h6>
          </div>
          <div class="card-body text-center">
            Grados 3, 4 y 5.
          </div>
          
          
      </div>
  </div>

  
  </div>

</div>

<div class="container-fluid ">
  <div class="row tarjetasConfig">

      <div class="col-lg-6" >
  
          <!-- Default Card Example -->
          <div class="card shadow mb-4" style=" height: 300px;">
            <div class="card-header py-3 text-center">
              <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-circle-check"></i> &nbsp;Objetivo Del Programa:</h6>
           </div>
           <div class="card-body">
             
            <figcaption> ° El programa de primaria para adultos está diseñado para que el estudiante adquiera competencias ciudadanas, sociales y solidarias que le sirvan para lograr un correcto desenvolvimiento en la sociedad y la continuación de estudios superiores.</figcaption>
            <figcaption> ° Nuestra filosofía educativa se se basa en una educación de calidad y con valores éticos.</figcaption>
           </div>
              
          </div>
          
  
      </div>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
            <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-user-graduate"></i> &nbsp;Perfil Del Egresado:</h6>
         </div>
         <div class="card-body ">
          <figcaption> <strong>El egresado de la CORPORACIÓN NACIONAL DE ESTUDIOS, será una persona:</strong></figcaption>
          &nbsp;
          <figcaption> ° Creativa.</figcaption>
          <figcaption> ° Triunfadora.</figcaption>
          <figcaption> ° Participativa.</figcaption>
          <figcaption> ° Crítica.</figcaption>
          <figcaption> ° Responsable.</figcaption>
          <figcaption> ° Investigadora y generadora de nuevos conocimientos y proyectos de vida.</figcaption>
          <figcaption> ° Tendrá las herramientas conceptuales para continuar estudios superiores.</figcaption>
         </div>
            
        </div>

        <!-- Basic Card Example -->
        

    </div>
  
  </div>

</div>

{% endblock homecontent %}