{% extends "homepage/homepage.html" %}
{% load  static %}
{% block homecontent %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'img/home/2.jpg' %}" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h1>Técnico en administración</h1>
          
        </div>
      </div>
      
    </div>
    
  </div>
</div>




<div class="container-fluid adicional">
  <div class="row encabezado">
      <div class="titulo">
        <span class=""><h2> Datos del programa</h1></span>
      </div>
      
  </div>
  <div class="row tarjetasConfig">

    <div class="col-lg-4">

        <!-- Default Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 text-center">
                <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-regular fa-calendar-days"></i> &nbsp;Duración</h6>
            </div>
            <div class="card-body text-center">
                3 Semestres.
            </div>
            
        </div>
    </div>

    <div class="col-lg-4">
  
      <!-- Default Card Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
             <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-graduation-cap"></i> &nbsp;Título:
                </h6>
          </div>
          <div class="card-body text-center">
            Técnico laboral en administración de empresas.
          </div>
          
      </div>
     </div>

     <div class="col-lg-4">
  
      <!-- Default Card Example -->
      <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
             <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-circle-check"></i> &nbsp;Registro</h6>
          </div>
          <div class="card-body text-center">
            Código: 1341
          </div>
          
          
      </div>
  </div>

  
  </div>

</div>

<div class="container-fluid ">
  <div class="row tarjetasConfig">

      <div class="col-lg-6" >
  
          <!-- Default Card Example -->
          <div class="card shadow mb-4" style=" height: 300px;">
            <div class="card-header py-3 text-center">
              <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-circle-check"></i> &nbsp;Objetivo Del Programa:</h6>
           </div>
           <div class="card-body">
             
            <figcaption> ° Formar Técnicos Laborales Asistentes Administrativos en capacidad de desarrollar competencias operativas, 
              comunicativas, de trabajo en equipo y de toma de decisiones que impulsen el crecimiento de las organizaciones a partir 
              de una serie de conceptos académicos y competencias desarrolladas en el aula de clases y en la práctica profesional.
            </figcaption>
           </div>
              
          </div>
          
  
      </div>
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
            <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-user-graduate"></i> &nbsp;Perfil Del Egresado:</h6>
         </div>
         <div class="card-body ">
          <figcaption> <strong>El egresado del programa de Técnico en Administración de Empresas estará en capacidad de desempeñar cargos cargos como:</strong></figcaption>
          &nbsp;
          <figcaption> ° Auxiliares Administrativos.</figcaption>
          <figcaption> ° Auxiliares De Oficina.</figcaption>
          <figcaption> ° Auxiliares De Personal.</figcaption>
          <figcaption> ° Auxiliares Administrativos De Salud .</figcaption>
          <figcaption> ° Auxiliares De Información Y Servicio Al Cliente .</figcaption>
          <figcaption> ° Dueño De Negocio.</figcaption>

         </div>
            
        </div>

        <!-- Basic Card Example -->
        

    </div>
    <div class="col-lg">
        <div class="card shadow mb-4">
          <div class="card-header py-3 text-center">
            <h6 class="m-0 font-weight-bold tituloCard"><i class="fa-solid fa-book-open-reader"></i> &nbsp;Plan de estudios</h6>
         </div>
         <div class="card-body ">
          <figcaption> <strong>Primer Semestre:</strong></figcaption>
          &nbsp;
          <figcaption> ° Introducción A La Administración</figcaption>
          <figcaption> ° Legislación Comercial</figcaption>
          <figcaption> ° Ética Empresarial</figcaption>
          <figcaption> ° Ofimática</figcaption>
          <figcaption> ° Legislación Laboral</figcaption>

          &nbsp;
          &nbsp;
          <figcaption> <strong>Segundo Semestre:</strong></figcaption>
          &nbsp;
          <figcaption> ° Estadística</figcaption>
          <figcaption> ° Mercadeo Y Comercio Internacional</figcaption>
          <figcaption> ° Emprendimiento Y Creación De Empresa</figcaption>
          <figcaption> ° Matemática Financiera</figcaption>
          <figcaption> ° Contabilidad General</figcaption>

          &nbsp;
          &nbsp;
          <figcaption> <strong>Tercer Semestre:</strong></figcaption>
          &nbsp;
          <figcaption> ° Finanzas Y Presupuestos</figcaption>
          <figcaption> ° Inglés</figcaption>
          <figcaption> ° Tributaria</figcaption>
          <figcaption> ° Salud Ocupacional</figcaption>
          <figcaption> ° Seminario De Liderazgo Y Medio Ambiente</figcaption>
          <figcaption> ° Proyecto De Grado</figcaption>

         </div>
            
        </div>

        <!-- Basic Card Example -->
        

    </div>
  
  </div>

</div>

{% endblock homecontent %}