{% extends "Base.html" %} {% load static %} 


{% block content %}
{% if user.is_authenticated %}
<div id="body"  >
  <div class="general"  style="">
    <div class=""  style="">
      {% include "includes/sidebar.html" %}
    </div>
    <div class="container-fluid m-0 p-0" >
      <div class="header" >
        {% include "includes/header.html" %}
      </div>
      <div class="contenido">
        {% block extracontent %}
          
          {% endblock extracontent %}
      </div>
    </div>
  </div>
  
</div>
{% else %}
<div class="body-login">

  <div class="container-fluid center-block " style="">
    <div class="row tarjetasConfig">
  
        <div class="col-lg" >
    
            <div class="card shadow mb-4" style=" height: 100%">
            <div class="card-header">
                <div class="row encabezado">
                    <div class="titulo ">
                      <span class=""><h2 ><i class="fa-solid fa-right-to-bracket"></i> CNE Login </h2></span>
                    </div>
                    
                </div>
            </div>
             <div class="card-body">
              <a href="{% url 'homepage_app:login'%}" class="btn btn-sm">iniciar sesión</a>
              
             </div>
                
            </div>
            
    
        </div>
        
    
    </div>
  
  </div>
  
  
</div>
{% endif %}
{% endblock content %}